@import "styles/variables";

.news {
  padding-bottom: 25px;
  :global {
    ins.adsbygoogle[data-ad-status="unfilled"] {
      display: none !important;
    }
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0 -8px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  padding: 0 8px;
  width: 100%;
}

.itemBox {
  padding: 15px 0;
  border-bottom: 1px solid $divider;
}

.top {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  justify-content: space-between;
}

.title {
  line-height: 22px;
  font-size: 16px;
  color: $textColor;
  padding-right: 15px;
  width: calc(100% - 85px);
  box-sizing: border-box;
}

.image {
  display: block;
  width: 70px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

.siteTitle {
  font-size: 12px;
  color: $textColor;
  opacity: 0.5;
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
}
