@import "styles/variables";

.container {
  min-height: 100vh;
  position: relative;
}

.wrapper {
  padding-bottom: $footerHeight;
  @media (max-width: $portrait) {
    padding-bottom: $mobileFooterHeight;
  }
}
