@import "styles/variables";

.footer {
  background: $searchBackground;
  padding: 11px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footerHeight;
  font-size: 0.8rem;

  @media (max-width: $portrait) {
    height: $mobileFooterHeight;
  }
}

.wrapper {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
}

.privacy {
  text-decoration: none;
  color: black;
}

.logo {
  img {
    width: 45px;
    height: auto;
    display: block;
  }
}

.copyright {
  font-size: 14px;
  padding-left: 15px;
}

.site {
  display: block;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: $portrait) {
  .wrapper {
    display: block;
  }
  .box, .site {
    padding-bottom: 15px;
    justify-content: center;
  }
  .site {
    text-align: center;
  }
}
