@import "styles/variables";

.footer {
  background: $searchBackground;
  padding: 9px 0;
}

.wrapper {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  display: flex;
  align-items: center;
}

.logo {
  img {
    width: 45px;
    height: auto;
  }
}

.copyright {
  font-size: 14px;
  padding-left: 15px;
}

.site {
  display: block;
  font-size: 16px;
  font-weight: 500;
}