@import "styles/variables";

.header {
  padding: 9px 0;
  background: $mainBackground;
  position: sticky;
  top: 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
  height: $headerHeight;
  z-index: 9;
}

.wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  img {
    display: block;
  }
}

.nav {
  display: flex;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0 25px 0 0;
}

.navItem {
  padding: 0 15px;
  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: $textColor;
    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
}

.button {
  width: 150px;
}

@media (max-width: $portrait) {
  .header {
    height: auto;
  }
  .box {
    flex-wrap: wrap;
  }
  .logo {
    order: 1;
  }
  .button {
    order: 2;
  }
  .nav {
    order: 3;
    width: 100%;
    padding: 25px 0 0;
    justify-content: center;
  }
}
