@import "styles/variables";

.search {
  display: block;
  margin-bottom: 30px;
  margin-top: 25px;
}

.button {
  padding: 10px 19px;
  background: $searchBackground;
  border: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 30px;
  width: 100%;
}

.svg {
  width: 18px;
  height: 18px;
  fill: $textColor;
}

.text {
  color: $textColor;
  opacity: 0.5;
  margin-left: 14px;
  font-size: 18px;
}
