@import "styles/variables";

.wrapper {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.5;

  .titleWrapper {
    text-align: center;
    margin: 5rem 0 5rem;

    @media (max-width: $portrait) {
      margin: 3rem 0 3rem;
    }

    .pageTitle {
      margin: 1rem 0;
    }
  }

  .subTitle {
    text-align: center;
    margin-top: 3rem;
  }
}

.mobile {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $divider;

  img {
    display: block;
    max-width: 45%;
    margin: 0 auto;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 25px;
    height: auto;
  }

  @media (max-width: $portrait) {
    height: auto;
    display: block;
    max-height: none;

    img {
      max-width: 100%;
      margin: 0 auto 30px;
    }
  }
}

.mobileRight {
  padding-left: 25px;

  @media (max-width: $portrait) {
    padding: 0;
  }
}

.mobileSubtitle {
  display: block;
  color: $textColor;
  opacity: 0.5;
}

.mobileButton {
  max-width: 270px;
}

.mission {
  border-bottom: 1px solid $divider;
  padding: 0 0 2rem;
}

.missionTitle {
  padding: 0 0 25px;
  text-align: center;
  font-size: 1.2rem;
}

.missionText {
  text-align: center;
  display: block;
}

.reviews {
  padding: 50px 0;
  border-bottom: 1px solid $divider;
}

.reviewsTitle {
  padding: 0 0 35px;
}

.reviewsList {
  list-style: none;
  padding: 1rem 0 0;

  @media (max-width: $portrait) {
    display: block;
  }
}

.reviewsItem {
  padding: 0 15px 15px;

  @media (max-width: $portrait) {
    width: 100%;
  }
}

.reviewsAuthor {
  display: flex;
  align-items: center;
  padding-bottom: 15px;

  img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 6px;
  }

  span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding-left: 15px;
  }
}

.reviewsComment {
  font-size: 0.9rem;
  display: block;
  color: $textColor;
}

.articles {
  padding: 50px 0;
}

.advantages {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem 0;

  @media (max-width: $portrait) {
    flex-direction: column;
  }

  .advantagesItem {
    flex: 1;
    padding: 0 0.5rem;

    @media (max-width: $portrait) {
      padding: 1rem 0.5rem;
    }

    & > div {
      font-size: 0.9rem;
      padding-top: 1rem;
    }
  }
}