// fonts
$font: "Google Sans";

// Theme variables
$mainBackground: var(--mainBackground);
$searchBackground: var(--searchBackground);
$textColor: var(--textColor);
$shortcutText: var(--shortcutText);
$divider: var(--divider);
