// fonts
$font: "Google Sans";

// media
$portrait: 600px;

// Theme variables
$mainBackground: var(--mainBackground);
$searchBackground: var(--searchBackground);
$textColor: var(--textColor);
$shortcutText: var(--shortcutText);
$divider: var(--divider);
$yellow: var(--yellow);

// sizes
$headerHeight: 80px;
