@import "./variables";

.title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  display: block;
  color: $shortcutText;
  padding: 0 0 25px;
}

.page-title {
  display: block;
  font-size: 36px;
  font-weight: 700;
  display: block;
  color: $shortcutText;
  padding: 25px 0 25px;
  margin: 0;
  text-align: center;
}

.page-subtitle {
  display: block;
  font-size: 20px;
  font-weight: 400;
  display: block;
  color: $shortcutText;
  padding: 0 0 35px;
  margin: 0;
  text-align: center;
  line-height: 25px;
}

.static-content {
  font-family: $font;
  color: $shortcutText;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    max-height: 300px;

    & p {
      display: block;
    }
  }
  h1 {
    font-size: 20px;
    line-height: 25px;
    margin: 0;
    padding-bottom: 20px;
  }
  h2 {
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    padding-bottom: 20px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
    padding-bottom: 30px;
  }

  ol {
    margin: 0;
    padding: 0 0 30px 15px;
  }
  .image-container {
    padding: 0;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: table;
    margin: 0 auto 30px;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        180deg,
        rgba(254, 234, 59, 0) 30%,
        #feea3b 116.87%
      );
    }
  }
}
